<div>
	<div><span id="PageTitle"><span ng-bind="ctrl.PageTitle"></span> List</span></div>
</div>
		<table class="table">
			<tbody>
			<tr>
					<td>
					<span class="DetailHeading">ID</span>
					</td>
					<td>
					<span ng-bind="ctrl.SelectedUser.ID"></span>
					</td>
				</tr>
				<tr>
					<td>
					<span class="DetailHeading">Name</span>
					</td>
					<td><span ng-bind="ctrl.SelectedUser.Name"></span></td>
				</tr>
				<tr>
					<td>
					<span class="DetailHeading">Email</span>
					</td>
					<td><span ng-bind="ctrl.SelectedUser.Email"></span></td>
				</tr>
				<tr>
					<td>
					<span class="DetailHeading">Role</span>
					</td>
					<td><span ng-bind="ctrl.SelectedUser.Role"></span></td>
				</tr>
			</tbody>
			</table>
			<span><button ng-click="ctrl.Remove(ctrl.SelectedUser.ID)">Delete</button></span>
		</div>
</div>