<div>
	<div><span id="PageTitle"><span ng-bind="ctrl.PageTitle"></span> List</span></div>
</div>
<div>
		<table class="table">
			<thead>
				<tr>					
					<td>ID</td>
					<td>Name</td>
					<td>Email</td>
					<td>Role</td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="user in ctrl.User">					
					<td><span ng-bind="user.ID"></span></td>
					<td><span ng-bind="user.Name"></span></td>
					<td><span ng-bind="user.Email"></span></td>
					<td><span ng-bind="user.Role"></span></td>	
				</tr>
			</tbody>
			</table>
</div>