<div ng-if="ctrl.IsLoggedIn">
	<div>
		<div><span id="PageTitle">New Report</span></div>
	</div>
	<hr>
	<div>
		<div class="form-group row">
			<label for="issue-date-entered" class="col-md-2 control-label" style="text-align: right;">Date Entered</label>

			<div class="col-md-2">
				<input class="form-control" type="text"
				ng-model="ctrl.NewIssue.DateEntered" id="issue-date-entered">
			</div>
		</div>

		<div class="form-group row">
			<label for="issue-severity" class="col-md-2 control-label" style="text-align: right;">Severity</label>

			<div class="col-md-2">
				<select class="form-control" ng-model="ctrl.NewIssue.Severity" id="issue-severity"
				ng-options="severity for severity in ctrl.Severity"></select>
			</div>
		</div>

		<div class="form-group row">
			<label for="issue-priority" class="col-md-2 control-label" style="text-align: right;">Priority</label>

			<div class="col-md-2">
				<select class="form-control" ng-model="ctrl.NewIssue.Priority" id="issue-priority"
				ng-options="priority for priority in ctrl.Priority"></select>
			</div>
		</div>

		<div class="form-group row">
			<label for="issue-status" class="col-md-2 control-label" style="text-align: right;">Status</label>

			<div class="col-md-2">
				<select class="form-control" ng-model="ctrl.NewIssue.Status" id="issue-status"
				ng-options="status for status in ctrl.Status"></select>
			</div>
		</div>

		<div class="form-group row">
			<label for="issue-description" class="col-md-2 control-label" style="text-align: right;">Description</label>

			<div class="col-md-7">
				<textarea class="form-control" ng-model="ctrl.NewIssue.Description" 
				id="issue-description" rows="5" maxlength="255"></textarea>
			</div>
		</div>

		<button class="btn" ng-click="ctrl.Create(ctrl.NewIssue)">Add</button>&nbsp;
		<a href="#/issues">Back to list</a>
	</div>
</div>

<div ng-if="!ctrl.IsLoggedIn" class="alert alert-danger" role="alert">
	<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
	<span class="sr-only">Error:</span>
	You must be logged in to submit a new report!
</div>