<div style="width:60%;margin:10px auto;">
	<div><span id="PageTitle"><span ng-bind="ctrl.PageTitle"></span> Add</span></div>
	<div>
		<div class="form-group row">
			<label for="user-id" class="col-md-3 col-form-label">ID</label>
			<div class="col-md-9">
				<input class="form-control" disabled="disabled" type="text" ng-model="ctrl.NewUser.ID" id="user-id">
			</div>
	</div>

		<div class="form-group row">
			<label for="user-name" class="col-md-3 col-form-label">Name</label>
			<div class="col-md-9">
				<input class="form-control" type="text" ng-model="ctrl.NewUser.UserName" id="user-name">
			</div>
		</div>

		<div class="form-group row">
			<label for="user-email" class="col-md-3 col-form-label">Email</label>
			<div class="col-md-9">
				<input class="form-control" type="text" ng-model="ctrl.NewUser.Email" id="user-email">
			</div>
		</div>

		<div class="form-group row">
			<label for="user-role" class="col-md-3 col-form-label">Role</label>
			<div class="col-md-9">
				<input class="form-control" type="text" ng-model="ctrl.NewUser.Phone" id="user-role">
			</div>
		</div>


		<button ng-click="ctrl.Add(ctrl.NewUser)">Add</button>
	</div>
</div>